<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APNEditabilityTypemask</key>
	<integer>55</integer>
	<key>AllowAKEYEditing</key>
	<true/>
	<key>AllowAttachAPNEditing</key>
	<true/>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>AllowHighQualityVideoOver3G</key>
	<true/>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP2</key>
		<dict>
			<key>apn</key>
			<string>vzwinternet</string>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
		</dict>
	</dict>
	<key>BasebandAccessOverloadClass</key>
	<true/>
	<key>BasebandDiversityOn</key>
	<true/>
	<key>CDMAInternationalRoaming</key>
	<dict>
		<key>EnabledByDefault</key>
		<true/>
	</dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ServerAddress</key>
		<string>https://spc.myvzw.com/ium-RoadrunnerInterface/servlet/IUMServlet</string>
	</dict>
	<key>CarrierName</key>
	<string>Verizon</string>
	<key>CellBroadcast</key>
	<dict>
		<key>AlertConfigurations</key>
		<dict>
			<key>Configuration_us</key>
			<dict>
				<key>Sound</key>
				<string>cbs_alert_us.m4a</string>
				<key>Vibration</key>
				<string>cbs_vibe_us.plist</string>
			</dict>
		</dict>
		<key>AlertTypes</key>
		<dict>
			<key>Amber</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>NotificationTitle</key>
				<string>AMBER Alert</string>
				<key>SwitchName</key>
				<string>AMBER Alerts</string>
				<key>UserConfigurable</key>
				<true/>
			</dict>
			<key>Emergency</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Emergency Alert</string>
				<key>SwitchName</key>
				<string>Emergency Alerts</string>
				<key>UserConfigurable</key>
				<true/>
			</dict>
			<key>Presidential</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Presidential Alert</string>
				<key>SwitchName</key>
				<string>Presidential Alerts</string>
				<key>UserConfigurable</key>
				<false/>
			</dict>
		</dict>
		<key>MessageIDParameters3GPP2</key>
		<array>
			<dict>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>AlertType</key>
				<string>Presidential</string>
				<key>Category</key>
				<integer>4096</integer>
				<key>Language</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>Category</key>
				<integer>4097</integer>
				<key>Language</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>Category</key>
				<integer>4098</integer>
				<key>Language</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>AlertType</key>
				<string>Amber</string>
				<key>Category</key>
				<integer>4099</integer>
				<key>Language</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>MessageValidityPeriod</key>
		<dict>
			<key>TimeLimit</key>
			<integer>10080</integer>
		</dict>
		<key>SwitchGroupTitle</key>
		<string>Government Alerts</string>
	</dict>
	<key>CustomerServicePhoneNumber</key>
	<string>18009220204</string>
	<key>DeliveryReceiptsAllowUserOverride</key>
	<false/>
	<key>DeliveryReceiptsDefault</key>
	<false/>
	<key>DisallowCarrierMenuAtHome</key>
	<false/>
	<key>EFSFiles</key>
	<array>
		<dict>
			<key>carrier.ims</key>
			<string>/shared/qpconfig.xml</string>
		</dict>
	</array>
	<key>Enable4GByDefault</key>
	<false/>
	<key>EnableIMSISwitch</key>
	<true/>
	<key>FallbackMethod</key>
	<integer>2</integer>
	<key>HomeERI</key>
	<array>
		<integer>64</integer>
	</array>
	<key>IntlDataRoamingEnabled</key>
	<true/>
	<key>IntlDataRoamingExceptions</key>
	<array>
		<string>20404</string>
	</array>
	<key>MMS</key>
	<dict>
		<key>AllowFetchFromMultipleMMSCs</key>
		<true/>
		<key>AllowReturnReports</key>
		<true/>
		<key>CanUseTransactionIdWithContentLocation</key>
		<true/>
		<key>CarrierRequiredPhoneNumberHeaderName</key>
		<string>X-VzW-MDN</string>
		<key>ExplicitInternationalDialingCode</key>
		<string>011</string>
		<key>GroupModeAllowUserOverride</key>
		<true/>
		<key>GroupModeEnabled</key>
		<true/>
		<key>MMSC</key>
		<string>http://mms.vtext.com/servlets/mms</string>
		<key>MaxMessageSize</key>
		<integer>1228800</integer>
		<key>MaxRecipients</key>
		<integer>20</integer>
		<key>MaxSubjectLenBytes</key>
		<integer>80</integer>
		<key>MaxVideoBitrate</key>
		<integer>15360000</integer>
		<key>MaxVoiceCallWaitPeriod</key>
		<integer>0</integer>
		<key>OnWhileRoaming</key>
		<false/>
		<key>SendRejectNotificationIfTooLarge</key>
		<true/>
		<key>SupportsH264Video</key>
		<true/>
		<key>UAProf</key>
		<string>http://iphonemms.apple.com/iphone/uaprof-2MB.rdf</string>
		<key>UAString</key>
		<string>iosmms2.0</string>
	</dict>
	<key>MTU</key>
	<array>
		<dict>
			<key>size</key>
			<integer>1460</integer>
		</dict>
	</array>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>MaxBluetoothModemConnections</key>
	<array>
		<integer>5</integer>
	</array>
	<key>MyAccountURL</key>
	<string>https://myaccount.verizonwireless.com:443/clp/login</string>
	<key>MyAccountURLTitle</key>
	<string>My Verizon</string>
	<key>NetworkEncryptionCiphers</key>
	<dict>
		<key>A5/3</key>
		<true/>
		<key>GEA3</key>
		<true/>
	</dict>
	<key>NotRegisteredResetWaitPeriod</key>
	<integer>60</integer>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>AllowDownloadOverCellular</key>
		<true/>
	</dict>
	<key>OverrideCarrierMenuTo</key>
	<true/>
	<key>PRIFileName</key>
	<string>carrier.pri</string>
	<key>PRIRawSignature</key>
	<data>
	TmMD8KS/5UDTuzr7+/4fIu85Xfzn1hV3nE4y/3c5Aa2r5YzGRgHMLIuEMGV17AC1f34r
	xryZUmQ3c+90Zq1Vi9/Qa82jcibhQBFzolwWgWwHfN80Geiu2lJ3afyGX0HZIBkbl8y0
	shl4YqCv26JXkAox6pZzVlb7KhldmXhFLq8=
	</data>
	<key>PRISignature</key>
	<data>
	tAeewKsLc0BfekGpG42dCO1wRBdhZYzjEluRg/hsMsX2PvKblYnYM6M+z4wIvEf7GnDA
	CNStXe32EPPwFFGaevBMQeUJfsZCySRB+L4AO3qn0BD4NEsFdhEkX/J12B4vHVFoLAlb
	8768atpksomYOjlqpgz0qoAx6NUuu1uC62o=
	</data>
	<key>PRLFileName</key>
	<string>carrier.prl</string>
	<key>PhoneNumberIsVoiceMailNumber</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>900080006010</string>
	<key>PreferPrimaryDNS</key>
	<false/>
	<key>PriVersion</key>
	<string>0.1.072</string>
	<key>PrivateCapable</key>
	<true/>
	<key>PrlName</key>
	<integer>62121</integer>
	<key>PrlPushFlag</key>
	<false/>
	<key>PushSettings</key>
	<dict>
		<key>Topic</key>
		<string>com.vzw.pushnotification</string>
	</dict>
	<key>QosSupported</key>
	<true/>
	<key>QualityOfServiceAudio</key>
	<dict>
		<key>FlowPriority</key>
		<integer>7</integer>
		<key>ProfileID</key>
		<integer>280</integer>
	</dict>
	<key>RemoteDiagnosticsWWANAllowed</key>
	<false/>
	<key>RequiresIPv4v6PDPTypes</key>
	<true/>
	<key>RequiresServiceProvisioning</key>
	<true/>
	<key>SMSSettings</key>
	<dict>
		<key>MessageFormat</key>
		<dict>
			<key>PacketFormat</key>
			<integer>2</integer>
			<key>SignalingFormat</key>
			<integer>2</integer>
		</dict>
		<key>OutgoingSMSPrefix</key>
		<dict>
			<key>International</key>
			<string>+011</string>
			<key>Local</key>
			<string>+1</string>
		</dict>
		<key>TransportFallback</key>
		<true/>
	</dict>
	<key>SMSSizeInBytesSentAsMMSInstead</key>
	<integer>973</integer>
	<key>SMSUseLocalTZ</key>
	<true/>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>*73</string>
			<key>ServiceName</key>
			<string>Call Forwarding Disable</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>411</string>
			<key>ServiceName</key>
			<string>Directory Assistance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#225</string>
			<key>ServiceName</key>
			<string>Check Bill Balance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#768</string>
			<key>ServiceName</key>
			<string>Pay My Bill</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#646</string>
			<key>ServiceName</key>
			<string>View My Minutes</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#3282</string>
			<key>ServiceName</key>
			<string>View My Data</string>
		</dict>
	</array>
	<key>ShowCallForwarded</key>
	<false/>
	<key>ShowCallForwarding</key>
	<false/>
	<key>ShowDialAssist</key>
	<true/>
	<key>ShowLTEWarningUnsupportedCarrier</key>
	<false/>
	<key>ShowTTY</key>
	<true/>
	<key>ShowVoiceRoamingSwitch</key>
	<true/>
	<key>StaticNATType</key>
	<integer>448</integer>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>Verizon</string>
			<key>StatusBarCarrierName</key>
			<string>Verizon</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Roaming</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Extender</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Extended</string>
		</dict>
	</array>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>Verizon Communications Inc.</string>
			<key>symbol</key>
			<string>VZ</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>311480</string>
		<string>20404_ID-891480</string>
	</array>
	<key>SupportsEHRPD</key>
	<true/>
	<key>SupportsNITZ</key>
	<true/>
	<key>SupportsSupplementaryServices</key>
	<false/>
	<key>SupportsUserBusyCauseCode</key>
	<true/>
	<key>SuspendFastDormancyAllowed</key>
	<false/>
	<key>TestEmergencyNumber</key>
	<string>922</string>
	<key>TosSupported</key>
	<false/>
	<key>UseLTEAlternateBarMapping</key>
	<true/>
	<key>UserCanReinitiateActivation</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<true/>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>WISPrAccounts</key>
	<dict>
		<key>phone@vzw.com</key>
		<dict>
			<key>AuthenticationRealm</key>
			<string>hds.vzw3g.com</string>
			<key>MatchingSSIDs</key>
			<dict>
				<key>VerizonWiFi</key>
				<array>
					<string>.vzwwifi.com</string>
				</array>
			</dict>
			<key>PasswordType</key>
			<string>Verizon WiFi</string>
			<key>Source</key>
			<string>Carrier</string>
		</dict>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>apn</key>
			<string>vzwinternet</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>55</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string></string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>0</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string></string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>0</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string>vzwinternet</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>54</integer>
			<key>username</key>
			<string></string>
		</dict>
	</array>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>BeaconAddress</key>
		<string>900080006000</string>
		<key>BypassSMSCAvailabilityCheck</key>
		<true/>
		<key>ClientManagesTrash</key>
		<true/>
		<key>GreetingNotification</key>
		<true/>
		<key>MaxGreetingDuration</key>
		<integer>120</integer>
		<key>MaxPINLength</key>
		<integer>7</integer>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>UsesMWI</key>
		<false/>
		<key>UsesSSL</key>
		<true/>
	</dict>
	<key>pdpTimeout</key>
	<array>
		<integer>0</integer>
	</array>
	<key>signature</key>
	<data>
	NwnEqMEtSAa1hviJ1da35RcqCpszvqcR+iBdFKMIWEdZ0Y6ApaxIXWHG+0Qz3Vmhtxan
	iI7tSV+WK5JLLOtUgspXZMXUCMCeunHZEsjdxYg068gmFiXuyuGMgA63QxPTSrMbsxmF
	Uj4mljlm3HUhSxN72wh1qTrmStFEUCaKtqo=
	</data>
</dict>
</plist>
